@font-face {
  font-family: 'nintendo_uregular';
  src: url('fonts/nintendo-wii.woff2') , url('fonts/nintendo-wii.woff'); 
}

body {
   font-family: nintendo_uregular;
   background: rgb(32,42,68)
 }

 .BlueU { 
   color: rgb(3, 192, 255);
 }

 .AlphaText {
   color: red;
   font-size: 2rem; /*Remove when the site is finished lol*/
 }

 .WiiUGrey {
   color: rgb(199, 199, 199);
 }

 .DevHeader {
   color: rgb(199, 199, 199);
   text-align: center;
   font-size: 2rem;
 }

 .WiiUGrey3 {
   color: rgb(199, 199, 199);
   text-align: center;
   font-size: 1.5rem;
 }

 .topDome {
   text-align: center;
   display: block;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(176 176 186)));
   border-radius: 0px 0px 5% 5%;
   padding-bottom: 35px;
   margin-top: 0px;
 }
 .title-text {
   font-size: 5rem
 }

 .CataButton {
   display: inline-grid;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(176 176 194)));
        border-radius: 5px;
        height: 170px;
        width: 120px;
        font-size: 25px;
        font-family: nintendo_uregular;
 }

 .DiscordButton {
   display:block;
   border: none;
   background: url("assets/Icons/discord.png");
   text-align: bottom
 }

 .DomeButton {
   font-family: nintendo_uregular;
 }

 body {
  cursor: url('https://wiiu.wiki/assets/img/lastStand.cur'),default;
}