@font-face {
    font-family: 'nintendo_uregular';
    src: url('fonts/nintendo-wii.woff2') , url('fonts/nintendo-wii.woff'); 
}

body {
  font-family: nintendo_uregular;
}

body2 {
  cursor: url("Smile_icon_32x32.png"), auto;
}

.BlueU { 
  color: rgb(3, 192, 255);
}

.red-text {
  color: red;
  font-size: 2rem; /*Remove when the site is finished lol*/
}

.WiiUGrey {
  color: rgb(199, 199, 199);
}

.WiiUGrey2 {
  color: rgb(199, 199, 199);
  text-align: center;
  font-size: 2rem;
}

.WiiUGrey3 {
  color: rgb(199, 199, 199);
  text-align: center;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(176 176 186)));
  border-radius: 0px 0px 34% 34%;
  padding-bottom: 35px;
  margin-top: 0px;

}
.title-text {
  font-size: 5rem
}

.sub-text {
  font-size: 2.5rem
}

.dark-body {
  background-color: rgb(4, 11, 44);
}

.WiiUButton {
     display: block;
         text-align: center;
         background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(255, 255, 255)), color-stop(100%, rgb(176 176 194)));
         border-radius: 5px;
         margin-top: 10px;
         margin-right: auto;
         margin-left: auto;
         height: 170px;
         width: 120px;
         font-size: 25px;
         font-family: nintendo_uregular;
         padding: 10px;
}