@font-face {
    font-family: 'nintendo_uregular';
    src: url('../wii-u-wiki/fonts/nintendo_u_version_3_by_dledeviant_d9u8xn8.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
