@font-face {
    font-family: 'nintendo_uregular';
    src: url('nintendo_u_version_3_by_dledeviant_d9u8xn8-webfont.woff2') , url('nintendo_u_version_3_by_dledeviant_d9u8xn8-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: nintendo_uregular;
}

.BlueU { 
  color: rgb(3, 192, 255);
}

.WiiGrey {
  color: grey;
}
